<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {{{body}}}
    <script src="javascripts/{{ script }}.vue" type="text/javascript"/></script>
  </body>
</html>